*
  box-sizing border-box

body, html, .grid
  margin 0
  padding 0

@require "mixin.styl"

.grid
  grid()
  grid--fit()

.grid--columns
  grid--columns()

.grid--top
  grid--top()

.grid--bottom
  grid--bottom()

.grid--center
  grid--center()

.grid--shrink
  grid--shrink()

.grid--full
  grid--full()

.grid--half
  grid--half()

.grid--third
  grid--third()

.grid--quarter
  grid--quarter()

// small override
@media (min-width: 24em)
  .grid-small--fit
    grid--fit()

  .grid-small--full
    grid--full()

  .grid-small--half
    grid--half()

  .grid-small--third
    grid--third()

  .grid-small--quarter
    grid-quarter()

// large override
@media (min-width: 48em)
  .grid-large--fit
    grid--fit()

  .grid-large--full
    grid--full()

  .grid-large--half
    grid--half()

  .grid-large--third
    grid--third()

  .grid-large--quarter
    grid-quarter()

.cell--top
  cell--top()

.cell--bottom
  cell--bottom()

.cell--center
  cell--center()

.cell--scroll-x
  cell--scroll-x()

.cell--scroll-y
  cell--scroll-y()

.cell--fit
  cell--fit()

.cell--shrink
  cell--shrink()

.cell--full
  cell--full()

.cell--half
  cell--half()

.cell--third
  cell--third()

.cell--quarter
  cell--quarter()

.cell--empty
  cell--empty()
